<h2>This Is Index Page</h2>
<<<<<<< HEAD
<h3>This is what bipin Changed</h3>
<a href="#">Bipin Did</a>
=======
<h3>I also added a new Line</h3>
<h3>This is what bipin Changed</h3>
<div class="most-view-single-post">
                            <div class="col-md-5 col-sm-5 col-xs-5 home-most-view-img">
                                                                    <a class="video-posts" href="http://localhost:8081/ajay/fox-changes/lunch-box/"><img width="100" height="71" src="http://localhost:8081/ajay/fox-changes/wp-content/uploads/2015/04/lunch-box-1-100x71.jpg" class="img-responsive wp-post-image" alt="lunch-box (1)"></a>
                                    <span class="video-play-icon"><a href="http://localhost:8081/ajay/fox-changes/lunch-box/"><i class="fa fa-play-circle-o fa-lg"></i></a></span>
                                                                </div>
                            <div class="col-md-7 col-sm-7 col-xs-7 home-most-view-title-area">
                                <h4><a href="http://localhost:8081/ajay/fox-changes/lunch-box/">Lunch Box</a></h4>                                    <!--<p class='date-color hide-in-mobile most-view-post-date'></p>-->
                            </div>
                        </div>
						<div class="clearfix mv-make-space"></div>
						
		<!-- This Is Closed by ajay -->
>>>>>>> fb0c5d66d6da2b5ac48e6c2443d2901d6402cf33
